<!-- Menu Utama Awalan -->
<ng-container *ngIf="layoutMenu=='layout-1';else menuSecond">
  <div class="ui secondary menu mx-0 py-0 header1">
    <!-- Left -->
    <div class="left menu header-alt">
      <div class="logo">
        <img src="../../../../assets/image/favicon/logoebdesk.svg"
          onerror="this.onerror=null;this.src='../../../../assets/img/favicon/logoebdesk.svg'" width="50px"
          height="50px" />
      </div>
      <div class="nameapp-short">{{ appNameShort }}</div>
      <div class="nameapp-long">{{ appNameLong }}</div>
    </div>
    <!-- End Left -->
    <!-- Right -->
    <div class="right menu">
      <ng-container *ngFor="let menu_pai of MENU_PAI">
        <ng-container *ngIf="menu_pai.link=='/home'; else menuWithDropdown">
          <a class="item btn__primary mr-0">
            <i class="home icon mr-2"></i>{{menu_pai.name | uppercase }}
          </a>
        </ng-container>
        <ng-template #menuWithDropdown>
          <div class="header-alt" ngbDropdown>
            <div class="ui dropdown item btn__primary mr-0" id="dropdownConfig" ngbDropdownToggle>
              <i class="{{menu_pai.icon}} mr-2"></i>
              <span>{{menu_pai.name | uppercase }}</span>
              <div class="menu" *ngIf="menu_pai.children.length>0">
                <div class="mt-2" ngbDropdownMenu aria-labelledby="dropdownConfig">
                  <ng-container *ngFor="let submenu of menu_pai.children">
                    <div class="cursor-p" routerLink="{{submenu.redirect_to}}" ngbDropdownItem>
                      {{submenu.name}}
                    </div>

                  </ng-container>
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ng-container>
    </div>
    <!-- End Right -->
  </div>
  <!-- End Menu Utama Awalan -->
</ng-container>

<!-- template menu second [MegaMenu] -->
<ng-template #menuSecond>
  <div class="ui secondary menu mx-0 py-0 mb-0 header1">
    <div class="left menu header-alt">

      <!--  -->
      <div class="nav-title__small uppercase">
        <div>{{ appNameShort }}</div>
        <div>{{ rootPathSelected }}</div>
      </div>
      <!--  -->
    </div>
  </div>
</ng-template>
<!-- End template menu second [MegaMenu] -->

<button class="home" routerLink="/home">Home</button>




