.btn {
    &__primary {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      height: 30px;
      color: #171717;
      background: #e1e1e1;
      // box-shadow: 0 0 0 1px #e9e9e9;
    }
  
    &--active {
      color: #fff !important;
      background: #ea2727 !important;
    }
  
    &--active-border {
      background: #e1e1e1 !important;
      color: red !important;
    }
    &--active-border-button {
      border-bottom: 2px solid rgba(255, 0, 0, 0.8) !important;
    }
  }
  
  .btn-group {
    &.btn-group-switch {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 15px;
      padding-top: 8px;
  
      i {
        margin-right: 0;
      }
    }
  
    &.btn-group-switch-action {
      padding-right: 15px;
      padding-top: 24px;
    }
  
    &-item {
      box-shadow: 0 0 0 0.7px #e9e9e9;
      border-radius: 0 !important;
      font-size: 12px;
      padding: 0.2em 0.6em;
      margin-left: 3px !important;
      font-weight: 500;
    
      &.space-mr {
        margin-left: 0px !important;
        margin-right: 3px !important;
      }
    }
  }
  
  .btn-single {
    &-item {
      width: fit-content;
      background: #e4e4e4;
      float: right;
      box-shadow: 0 0 0 0.7px #e9e9e9;
      border-radius: 0 !important;
      font-size: 12px;
      font-weight: 500;
      padding: 0.2em 0.6em;
    }
  }
  
  .wrap-btn-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .wrap-btn-action__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .hr-top {
    border-top: 2px solid #dee2e6;
  }
  
  .ui.small.buttons {
    .button {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 12px;
      color: #000;
      font-weight: 500;
    }
  }
  