.ui.menu.header1 {
    min-height: 65px !important;

  .header-alt {
    display: flex;
    align-items: center;

    .nameapp {
      &-short {
        font-weight: 600;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        font-size: 34px;
        margin-right: 10px;
        margin-left: 5px;
      }
      &-long {
        font-weight: bold;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        display: block;
        width: 170px;
        font-size: 14px;
        line-height: 15px;
      }
    }
}
.item.btn__primary {
  font-weight: 600;
  text-transform: uppercase;
  color: #171717;
  // background: #e1e1e1;
  box-shadow: 0 0 0 1px #e9e9e9;
  padding: .65em;
}
}